<div class="top-row ps-3 navbar navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">BlazorSPAs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon custom-icon"></span>
        </button>
    </div>
</div>

<div class="navbar-links @NavMenuCssClass">
    <nav>
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick="CloseMenu">Home</NavLink>
        <NavLink class="nav-link" href="/about" @onclick="CloseMenu">About</NavLink>
        <NavLink class="nav-link" href="/products" @onclick="CloseMenu">Products</NavLink>
        <NavLink class="nav-link" href="/contact" @onclick="CloseMenu">Contact Us</NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "navbar-links closed" : "navbar-links open";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}

